/* сброс отступов */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* плавная прокурутка страницы */
html{
    scroll-behavior: smooth;
}

/* подключение шрифтов */
@font-face {
    font-family: Commissioner-Regular;
    src: local("Commissioner-Regular");
    src: url(res/fonts/Commissioner-Regular.ttf), format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: local("Montserrat");
    src: url(res/fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Nunito;
    src: local("Nunito");
    src: url(res/fonts/Nunito-Italic.ttf), format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* определение стилей */
:root{
    /* цвета текста */
    --color-primary-text:rgb(45, 58, 77);
    --color-primary-number:rgba(0, 102, 204, 1);
    --color-auxiliary-text:white;
    --color-subtext: #677B8F;
    --color-accent:#012345;
    --color-accent-background: rgba(242, 243, 245, 0.856);
    --color-square-text: #3E3E3E;
    /* размеры радиуса рамки */
    --border-block: 3px transparent solid;
    --border-radius: 15px;
    --border-bitton: 3px rgb(45, 58, 77) solid; 
    /* тени блоков */
    --shadow-block: 0 10px 30px rgba(0, 0, 0, 0.15);
}

/* секция основной информации о компании */

main{
    font-family: 'Montserrat',sans-serif;
    color: #3E3E3E;
    font-weight: 500;
}

.company__title{
    position: relative;
    display: grid;
    padding: 0 0 1% 0;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--color-auxiliary-text);
}

.company__image{
    width: 80%;
    height: auto;
    border: var(--border-block);
    border-radius: var(--border-radius);
}

@media (max-width: 480px){
    .company__image{
    width: 100vw;
    height: 10vh;
}
}
 
h1{
    position: absolute;
    top: 2rem;
    left: 14rem;
    z-index: 10;
    color: var(--color-auxiliary-text);
    text-shadow: 0 0 2px rgb(247, 245, 245);
}

@media (max-width: 480px){
    h1{
    top: 3rem;
    left: 1rem;
    font-size: 1.5rem;
}
}

.company__info{
    display: grid;
    padding: 1%;
    grid-template-columns: 0.8fr ;
    width: 80%;
    margin: 0 auto;
    justify-items: left;
    align-items: center;
    border: var(--border-block);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-block);
    margin-bottom: 1rem
}

@media (max-width: 480px){
    .company__info{
    width: 100vw;
    margin-bottom: 1.5rem;
}
}

.company__name{
    display: flex;
    font-size: 1.5rem;
    align-items: center; 
}

@media (max-width: 480px){
    .company__name{
    width: 100vw;
    font-size: 1.1rem;
    line-height: 1.2;
}
}
    
.company__logo{
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.company__text{
    font-size: 1.5rem;
    line-height: 1.5;
    transition: 
        opacity 0.5s ease, 
        max-height 0.5s ease, 
        margin 0.5s ease;
    overflow: hidden;
    margin: 10px 0;
    opacity: 1;
    max-height: 1000px; 
}

@media (max-width: 480px){
    .company__text{
    text-align: left;
    font-size: 1rem;
}
}

.company__text.company__text_hidden {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 480px){
    .company__text.company__text_hidden{
    text-align: left;
    font-size: 1rem;
}
}

.company__more {
    padding: 1%;
    background: transparent;
    width: auto;
    height: 3rem;
    border: var(--border-bitton);
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

@media (max-width: 480px){
    .company__more{
    color: var(--color-square-text);
    text-decoration: none;
    font-size: 1rem;
}
}

.company__achievements{
    padding: 2% 10% 1% 10%;
    display: grid;
    column-gap: 1.5rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-template-rows: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-block);
    background-color: var(--color-accent);
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

@media (max-width: 480px){
    .company__achievements{
    padding: 3% 2% 1% 2%;
    column-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    max-width: 98vw;
    height: 35vh;
    margin-bottom: 1.5rem;
}
}

.company__item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

.company__icon{
    width: 17rem;
    height: auto;
    margin-bottom: 1rem;
}

@media (max-width: 480px){
    .company__icon{
    width: 7rem;
}
}

span{
    font-size: 4.5rem;
}

@media (max-width: 480px){
    span{
    font-size: 1.5rem;
}
}
   
.company__point{
    font-size: 2rem;
    color: var(--color-auxiliary-text);
    font-weight: 600;
    margin-bottom: 1rem;
}

.company_description{
    font-size: 1rem;
    color: var(--color-subtext);
    margin-bottom: 1.5rem;
}

@media (max-width: 480px){
    .company_description{
    text-align: center;
}
}
    
.company_advantages{
    margin-bottom: 1.5rem;
}

@media (max-width: 480px){
    .company_advantages{
    margin-bottom: 0.5rem;
}
}

h2{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-primary-text);
    margin-bottom: 1rem;
}

@media (max-width: 480px){
    h2{
    font-size: 2rem;
}
}
    
.company_block{
    display: grid;
    padding: 3% 5% 3% 5%;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    height: auto;
    column-gap: 2rem;
    row-gap: 2rem ;
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--color-accent-background);
    border: var(--border-block);
    border-radius: var(--border-radius);
}

@media (max-width: 480px){
    .company_block{
    padding: 3.5%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 0.5rem;
    row-gap: 0.5rem ;
    max-width: 98vw;
}
}

.company_case{
    width: 100%;
    padding: 3%;
    background-color: var(--color-auxiliary-text);
    font-size: 1rem;
}

@media (max-width: 480px){
    .company_case{
    font-size: 0.7rem;
}
}

.company-case__subtitle{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

@media (max-width: 480px){
    .company-case__subtitle{
    font-size: 1rem;
}
}

.company_square{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    list-style-type: square;
}

.company_square:last-child{
    margin-bottom: 0;
}


